//anomalies: art bryvood bshy celestia faust fleur gdb gio kdance luna petra pixel purple sphlyra sprakle willow zirconia
@import "compass";

$stalions:     ajtr bm  chiv fp fpn orion soarin st whooves;

$mares:     aj twi darkle dash shy rar pp ajtr baj bbon bcheer bdash bderp blyra bon bpp brae brar brose btrix cheer dark derp doctor espee esplin excelian lyra orsch rcr rose speedy sur sprakle thunderlane trix;
$mareshift: 2  -24 -24    -22  -18 -32 -9 -2   -5  -31  -25    -32   -32   -8    -14 -15 2    -49  -7    -30   -15   2    -12  -1     -4    3      -33      0    4     -25 0    7      -10 -30     1           -12;

$stalionttl: length($stalions);
$marettl: length($mares);

/*!! jizz */
.bpmote-jizz.bpflag-combine {
	 z-index: 2;
	 position: relative;
	+ a {
		z-index: 1;
		position: relative;
		left: -110px;
		top: -5px;
		margin-right: 0px;
		margin-bottom: 0px;
	 }
}

/*!! mounts */
@import "mounts/back/*.png";
@import "mounts/front/*.png";
.back-sprite {z-index: 1;}
.front-sprite {z-index: 3;}
@each $stalion in $stalions {
.bpmote-#{$stalion}mount.bpflag-combine {
	position: relative;
	background-image: none;
	&:after {@include back-sprite(#{$stalion});}
	&:before {@include front-sprite(#{$stalion});}
	&:before, &:after{
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: front-sprite-width(#{$stalion});
		height: front-sprite-height(#{$stalion});
	}
	+ a {
		z-index: 2;
		position: relative;
		margin-right: -999px;
		margin-bottom: -999px;
		left: -207px;
		top: 153px;
	}
	@if $stalion == bm {
		+ a {
			left: -219px !important;
		}
	}
	@if $stalion == chiv {
		+ a {
			left: -219px !important;
		}
	}
	@for $num2 from 1 through $marettl {
		+ .bpmote-#{nth($mares, $num2)}fun {
			margin-left: nth($mareshift, $num2);
		}
	}
	+ a[href^="/pp"].bpflag-combine + a {
		width: 150px;
		position: relative;
		left: -70px;
		top: 135px;
		z-index: 4
	}
}
}

