/*
 * Some SFW portions of combiners. They are included here so that
 * combiners-nsfw.css can be disabled with the NSFW option.
 */

/* lickiepie */
.bpmote-lickiepie.bpflag-combine + a {
    position: relative;
    left: -220px;
    top: 127px;
    margin-right: -220px
    }
/* tableflip */
.bpmote-emptytable.bpflag-combine {
    z-index: 2;
    position: relative
	+ a {
		z-index: 1;
		position: relative;
		margin-right: -999px;
		margin-bottom: -999px;
		left: -120px;
		top: 20px;
		max-height: 119px
	}

/* fixes */
	+ a[href^="/pp"].bpflag-combine + a {
		width: 150px;
		position: relative;
		left: 14px;
		top: 5px
    }
}