/* imports */
@import "compass";
@import "bourbon/bourbon";
@import "catscript/catscript";


/*== Body ==*/
@include nightmode(body) {
	background: transparent url(%%bg01%%) no-repeat fixed 50% 110% !important;
}

@include nightmode(1) {
	.content, .content #siteTable .thing {
		background-color: transparent !important;
	}
}

/*== Header ==*/
@include nightmode("#header") {
    background: #A0DCA0 url(%%header01%%) repeat-x left center;
    border-bottom: 1px solid black;
    }
#header-bottom-left {
    background: url(%%header02%%) no-repeat right center !important;
    margin-right: 10px;
    }
/* nightmode fix */
.res-nightmode #header-bottom-left {background-color: transparent !important;}

.pagename a{
position: relative;
}
.pagename a:after {
    content: " and friends";
    display: inline-block;
    font-size: 12px !important;
    color: black;
    margin-left: 5px
    }

/*== Sidebar ==*/
/*change "users"*/  
.subscribers .word, .users-online .word, .users-online::before {display: none;}  
.subscribers .number::after {content: " Popes";}
.users-online .number::after {content: " Poping";}

/*make transparent*/
.side, .leavemoderator, .toggle, .icon-menu a, .sidebox .spacer {background-color: transparent !important;}

/*nightmode fix (seriously bleeps, this is ridiculous)*/
.res-nightmode .side .spacer, .res-nightmode .side .spacer h1, .res-nightmode .leavemoderator, .res-nightmode .toggle, .res-nightmode .sidecontentbox, .res-nightmode .sidecontentbox .title h1, .res-nightmode .sidecontentbox .content, .res-nightmode .icon-menu a, .res-nightmode .spacer .sidebox {background-color:transparent !important;}

/*Remove RES tag and vote counts from moderator box because its ugly*/
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink{display: none !important}


/*== Administration Tweaks ==*/
.fancy-settings .linefield {width: 920px;}
.fancy-settings textarea {height: 500px; width: 900px;}
.stylesheet-customize-container textarea {height: 500px;}