body {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/starfeild.png) no-repeat fixed #000;
    color: white;
}
#videobg { background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/player_back.png) no-repeat center center; }

#banner {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/banner.png) no-repeat center;	
    height: 138px;
    margin: 32px auto;
    width: 786px;
}

#v{
  display:none;
  background:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/v.jpg);
  width:604px;
  height:350px;
  margin:0 auto;
}

.dynarea, #dyn_motd {
   color:#dbeffa;
   background-color: rgba(17,34,85,0.5);
   border: 0px !important;
}
.dynarea a {
color:#0fb4ff !important;
}

.dynarea a:visited  {
    color: #00659b !important;
}

.poll.active {
  background:#125 !important;
}

#pollControl {
    background: #000 !important;
    color: white !important;
    border-top: 1px white !important;
}

#pollpane .poll {
    background-color: rgba(17,34,85,0.5);
    border: 0px !important;
}
.poll .btn.close {
    background: #125 !important;
}

#chatlist ul .leader {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/hat.png) no-repeat scroll left center transparent;
    padding-left: 25px;
    padding-right: 10px;
    height: 20px;
    line-height: 20px;
}

#chatbuffer .message.drink { background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/bp_tiny.png) no-repeat scroll right center transparent; }

#drinkWrap {
    vertical-align: middle;
}

.chatbuffer .drinkWrap {
    border-top: 3px solid #48c !important;
    border-bottom: 3px solid #48c !important;

}

.chatbuffer .drinkWrap td {
    vertical-align: middle;
    height: 42px;
}


.chatbuffer {
    border-bottom-color: white !important;
}


#chatinput input  {
    background-color: #000;
    color: #dbeffa !important;
/*    border-bottom-color: white !important;
    border-bottom-width: 1px !important;
    height: 29px !important;
    border-left-color: white !important;
    border-left-width: 1px !important;
    border-right-color: white !important;
    border-right-width: 1px !important;
    width: 478px !important;
    left: 1px !important;
    bottom: 1px !important; */
}
#chatinput.right {
    border-right: 1px red !important;
}

#chatinput.right input {
    border-right: 1px white !important;
}

#chatpane .setNick {
    background-color: #125 !important;
    color: #dbeffa !important;
    border-color: #dbeffa;
}


#chatControls, #connectedCountWrapper
{
    background-color: #125 !important;
    color: #dbeffa !important;
    
}
#chatControls a {
    color: #dbeffa;
}

.chatbuffer {
    border-bottom: 1px #dbeffa !important;
    border-top: 1px #dbeffa !important;
    background: none repeat scroll 0 0 #000 !important;
    border-left-color: #dbeffa !important;
    border-left-width: 1px !important;
    border-top-color: #dbeffa !important;
    border-top-width: 1px !important;
    color: #dbeffa !important;
}

#chatlist {
    background: none repeat scroll 0 0 #000 !important;
    border-left-color: #dbeffa !important;
    border-left-width: 1px !important;
    border-top-color: #dbeffa !important;
    border-top-width: 1px !important;
    color: #dbeffa !important;
}


.chatbuffer a {
    color: #0fb4ff;
}
.chatbuffer a:visited {
    color: #00527e;
}

#chatlist ul .admin,.flaunt.level_2 { color: #704ac0; }
#chatlist ul .mod,.flaunt.level_1 { color: #48c; }
#chatlist ul .anon,.flaunt.level_0 { color: #584d69; }
#chatlist ul .nobody,.flaunt.level_-1 { color: #5b5b5b; }

.chatbuffer .message.request {
    color: #48c;
    font-style: italic;
    font-weight: bold;
}

.chatbuffer .pollNote,
.chatbuffer .message.rcv, #rcvOverlay .message.rcv {
    color: #704ac0 !important;
}

.chatbuffer .highlight {
    background:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/beep.png);
}

.spoiler .msg {
    background: none repeat scroll 0 0 white;
    color: white;
}
    
.spoiler .msg:hover {
    color:#000;
}

#connectedCountWrapper {
    cursor:pointer;
    background: none;
    background:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/collapse.png) no-repeat 2px center;
}
#connectedCountWrapper.wide {
    background-image:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/expand.png);
}

#chatControls #flairArrow {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/flairow.png) no-repeat scroll left center transparent;
    border-color: gray;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    float: left;
    height: 16px;
    margin: 1px 10px 1px 0;
    width: 10px;
}


/* Playlist stuff */
#playlist ul li{
    font-family: Arial;
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #125;
    cursor: ns-resize;
}
#playlist ul li.active {
    background: none repeat scroll 0 0 #125;
    border-color: #dbeffa;
    color: #dbeffa;
}
#playlist ul li.volatile {
    background: none repeat scroll 0 0 #000000;
    border-color: #690000;
    color:#dbeffa ;
}
#playlist ul li.volatile.active {
    background: none repeat scroll 0 0 #690000;
    border: 1px solid #dbeffa;
    color: #dbeffa;
}
#playlist li .setVolatile.visible {
    border: 1px solid;
    color: yellow;
}
#playlist ul .delete{
    background: none repeat scroll 0 0 #000;
    border: 1px solid #dbeffa;
    color:#dbeffa 
}
#playlist ul .requeue{
    background: none repeat scroll 0 0 #000;
    border: 1px solid #dbeffa;
    color: #dbeffa;
}
#playlist .track{
    background: #000 repeat-x 0 0;
    border-left: 1px solid #125;
    border-right: 1px solid #125;
    background: #000 url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/nub.png) repeat-x 0 0;
}
#playlistAddControls {
    display: none;
}
#playlistAddControls .note {
    color: #dbeffa;
}
#playlistAddControls .import input {
    background: none repeat scroll 0 0 #000;
    color: #dbeffa;
}
#playlistAddControls .slideBtn{
    background: #000;
    border: 1px solid #dbeffa;
    color: #dbeffa;
}
#playlistAddControls .import{
    display:none;
}
#playlist .thumb .end, #playlist .thumb {
    background-color: #48c;
}

/* Footer area */
#dyn_footer {
    margin-top: 15px;
}
.wrapper {
    margin-bottom: 15px !important;
}