/*! jizz */
/* line 13, ../scss/combiners-nsfw.scss */
.bpmote-jizz.bpflag-combine { z-index: 2; position: relative; }
/* line 16, ../scss/combiners-nsfw.scss */
.bpmote-jizz.bpflag-combine + a { z-index: 1; position: relative; left: -110px; top: -5px; margin-right: 0px; margin-bottom: 0px; }

/*! mounts */
/* line 106, mounts/back/*.png */
.back-sprite, .bpmote-ajtrmount.bpflag-combine:after, .bpmote-bmmount.bpflag-combine:after, .bpmote-chivmount.bpflag-combine:after, .bpmote-fpmount.bpflag-combine:after, .bpmote-fpnmount.bpflag-combine:after, .bpmote-orionmount.bpflag-combine:after, .bpmote-soarinmount.bpflag-combine:after, .bpmote-stmount.bpflag-combine:after, .bpmote-whoovesmount.bpflag-combine:after { background: url('../images/mounts/back-s7946a384c3.png') no-repeat; }

/* line 106, mounts/front/*.png */
.front-sprite, .bpmote-ajtrmount.bpflag-combine:before, .bpmote-bmmount.bpflag-combine:before, .bpmote-chivmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:before, .bpmote-fpnmount.bpflag-combine:before, .bpmote-orionmount.bpflag-combine:before, .bpmote-soarinmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:before, .bpmote-whoovesmount.bpflag-combine:before { background: url('../images/mounts/front-s2317d1891a.png') no-repeat; }

/* line 29, ../scss/combiners-nsfw.scss */
.back-sprite, .bpmote-ajtrmount.bpflag-combine:after, .bpmote-bmmount.bpflag-combine:after, .bpmote-chivmount.bpflag-combine:after, .bpmote-fpmount.bpflag-combine:after, .bpmote-fpnmount.bpflag-combine:after, .bpmote-orionmount.bpflag-combine:after, .bpmote-soarinmount.bpflag-combine:after, .bpmote-stmount.bpflag-combine:after, .bpmote-whoovesmount.bpflag-combine:after { z-index: 1; }

/* line 30, ../scss/combiners-nsfw.scss */
.front-sprite, .bpmote-ajtrmount.bpflag-combine:before, .bpmote-bmmount.bpflag-combine:before, .bpmote-chivmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:before, .bpmote-fpnmount.bpflag-combine:before, .bpmote-orionmount.bpflag-combine:before, .bpmote-soarinmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:before, .bpmote-whoovesmount.bpflag-combine:before { z-index: 3; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine:after { background-position: 0 -305px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine:before { background-position: 0 -1525px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine:before, .bpmote-ajtrmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-ajtrmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine:after { background-position: 0 -1220px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine:before { background-position: 0 -2135px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine:before, .bpmote-bmmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 55, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + a { left: -219px !important; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-bmmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine:after { background-position: 0 -1830px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine:before { background-position: 0 -915px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine:before, .bpmote-chivmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 60, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + a { left: -219px !important; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-chivmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine:after { background-position: 0 0; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine:before { background-position: 0 -610px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-fpmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine:after { background-position: 0 -610px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine:before { background-position: 0 -1830px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine:before, .bpmote-fpnmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-fpnmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine:after { background-position: 0 -2135px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine:before { background-position: 0 -1220px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine:before, .bpmote-orionmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-orionmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine:after { background-position: 0 -915px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine:before { background-position: 0 0; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine:before, .bpmote-soarinmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-soarinmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine:after { background-position: 0 -1525px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine:before { background-position: 0 -305px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-stmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }

/* line 32, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine { position: relative; background-image: none; }
/* line 35, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine:after { background-position: 0 -2440px; }
/* line 36, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine:before { background-position: 0 -2440px; }
/* line 37, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine:before, .bpmote-whoovesmount.bpflag-combine:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 301px; height: 305px; }
/* line 46, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + a { z-index: 2; position: relative; margin-right: -999px; margin-bottom: -999px; left: -207px; top: 153px; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-ajfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-twifun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-darklefun { margin-left: -24; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-dashfun { margin-left: -22; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-shyfun { margin-left: -18; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-rarfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-ppfun { margin-left: -9; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-ajtrfun { margin-left: -2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bajfun { margin-left: -5; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bbonfun { margin-left: -31; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bcheerfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bdashfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bderpfun { margin-left: -32; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-blyrafun { margin-left: -8; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bonfun { margin-left: -14; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-bppfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-braefun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-brarfun { margin-left: -49; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-brosefun { margin-left: -7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-btrixfun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-cheerfun { margin-left: -15; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-darkfun { margin-left: 2; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-derpfun { margin-left: -12; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-doctorfun { margin-left: -1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-espeefun { margin-left: -4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-esplinfun { margin-left: 3; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-excelianfun { margin-left: -33; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-lyrafun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-orschfun { margin-left: 4; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-rcrfun { margin-left: -25; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-rosefun { margin-left: 0; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-speedyfun { margin-left: 7; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-surfun { margin-left: -10; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-spraklefun { margin-left: -30; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-thunderlanefun { margin-left: 1; }
/* line 65, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + .bpmote-trixfun { margin-left: -12; }
/* line 69, ../scss/combiners-nsfw.scss */
.bpmote-whoovesmount.bpflag-combine + a[href^="/pp"].bpflag-combine + a { width: 150px; position: relative; left: -70px; top: 135px; z-index: 4; }
