body {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/starfield.png) no-repeat fixed black;
    color: white;
}
#playlist .thumb .end, #playlist .thumb { background-color: #0000B2; }
.wrapper{ background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/50.png); }
#videobg { background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/player_back.png) no-repeat center center; }
#chatbuffer .message.drink { background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/bp_tiny.png) no-repeat scroll right center transparent; }
#drinkWrap { background:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/drink_back.png) repeat-y center; }
#banner {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/banner.png) no-repeat center;	
    height: 138px;
    margin: 10px auto;
    width: 786px;
}
#chatlist ul .admin,.flaunt.level_2 { color:#8f5ee7; }
#chatlist ul .mod,.flaunt.level_1 { color:#668af6; }
#chatlist ul .anon,.flaunt.level_0 { color: gray; }
#chatlist ul .nobody,.flaunt.level_-1 { color: lightgray; }
#chatlist ul .leader {
    background: url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/star.png) no-repeat scroll left center transparent;
    padding-left: 25px;
}
#chatbuffer .drinkWrap{
  border-bottom: 3px solid #0000B2;
    border-top: 3px solid #0000B2;
}
#chatbuffer .drinkWrap .drink .multi{
    color: #0000B2;
}
#playlist ul li{
  font-family: Arial;
  background: none repeat scroll 0 0 #000000;
    border: 1px solid #0000B2;
    cursor: ns-resize;
}
#playlist ul li.active {
    background: none repeat scroll 0 0 #876C00;
    border-color: #FFCC00;
    color: #FFCC00;
}
#playlist ul li.volatile {
    background: none repeat scroll 0 0 #690000;
}
#playlist ul li.volatile.active {
    background: none repeat scroll 0 0 #876C00;
  border: 1px solid red;
}
#playlist .track{
    border-left: 1px solid #0000B2;
  background: black url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/purpledot.png) repeat-x 0 0;
}
#v{
  display:none;
  background:url(https://dl.dropboxusercontent.com/u/28101770/Tubenami/v.jpg);
  width:604px;
  height:350px;
  margin:0 auto;
}