/*@import "reddit/flair";
@import "reddit/nickname";
*/
/* Mixin */
/* Account Icons */
a[href|="/tsgdi"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/tsgdi"] {
  background-position: 0 -306px;
  height: 140px;
  width: 128px;
  /*content: $map;*/ }

a[href|="/lpgdi"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/lpgdi"] {
  background-position: 0 -155px;
  height: 151px;
  width: 128px;
  /*content: $map;*/ }

a[href|="/rdgdi"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/rdgdi"] {
  background-position: 0 -446px;
  height: 143px;
  width: 128px;
  /*content: $map;*/ }

a[href|="/test"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/test"] {
  background-position: 0 -446px;
  height: 143px;
  width: 128px;
  /*content: $map;*/ }

a[href|="/ajgdi"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/ajgdi"] {
  background-position: 0 0;
  height: 155px;
  width: 128px;
  /*content: $map;*/ }

a[href|="/bpgdi"] {
  background-image: url(%%gdi.png%%);
  display: block;
  clear: none;
  float: left; }

a[href|="/bpgdi"] {
  background-position: 0 -589px;
  height: 130px;
  width: 128px;
  /*content: $map;*/ }
