/*lenses*/
a[href^='/'][href*='-lens01']::before { background: url(http://f.thumbs.redditmedia.com/o7LMG8mG9TwilvIw.png); content: " "; display: block; height: 100%; position: relative; width: 100%; z-index: 3; }

a[href^='/'][href*='-lens02']::before { background: url(http://e.thumbs.redditmedia.com/mzcJeIHQK3IcxwQd.png); content: " "; display: block; height: 100%; position: relative; width: 100%; z-index: 3; }

a[href^='/'][href*='-lens03']::before { background: url(http://d.thumbs.redditmedia.com/mH_TxiA3cOLCSwMQ.png); content: " "; display: block; height: 100%; position: relative; width: 100%; z-index: 3; }

a[href^='/'][href*='-lens04']::before { background: url(http://c.thumbs.redditmedia.com/4ng0sBV_G3NnGPd8.png); content: " "; display: block; height: 100%; position: relative; width: 100%; z-index: 3; }

a[href^='/'][href*='-lens05']::before { background: url(http://b.thumbs.redditmedia.com/N-fhJfepnyJGTwiU.png); content: " "; display: block; height: 100%; position: relative; width: 100%; z-index: 3; }

/*decorations*/
a[href^='/'][href*='-bowler']::after { background: url(http://e.thumbs.redditmedia.com/j_ricW7SVOwikWOL.png); background-position: 750% 0; content: " "; display: block; height: 100px; position: relative; width: 100px; z-index: 2; }

a[href^='/'][href*='-sailor']::after { background: url(http://d.thumbs.redditmedia.com/6vIKz54MqUjgDbvW.png); background-position: 750% 0; content: " "; display: block; height: 50px; position: relative; width: 50px; z-index: 2; }

/*a[href^='/'][href*='-speedy']::after{background:url(null);background-position:750% 0;content:" ";display:block;height:100px;position:relative;width:100px;z-index:2;}
*/
a[href^='/'][href*='-trixie']::after { background: url(http://f.thumbs.redditmedia.com/_dSJz5v8syahfV3k.png); background-position: 750% 0; content: " "; display: block; height: 50px; position: relative; width: 50px; z-index: 2; }

/*fix*/
a[href^='/'][href*='-lens'][href*='-sailor']::after, a[href^='/'][href*='-lens'][href*='-bowler']::after, a[href^='/'][href*='-lens'][href*='-trixie']::after, a[href^='/'][href*='-lens'][href*='-speedy']::after { top: -100%; }

/*rotate*/
a[href^='/'][href*='-dr15']::after { -webkit-transform: rotate(15deg) scaleX(1); }

a[href^='/'][href*='-dr30']::after { -webkit-transform: rotate(30deg) scaleX(1); }

a[href^='/'][href*='-dr45']::after { -webkit-transform: rotate(45deg) scaleX(1); }

a[href^='/'][href*='-dr60']::after { -webkit-transform: rotate(60deg) scaleX(1); }

a[href^='/'][href*='-dr75']::after { -webkit-transform: rotate(75deg) scaleX(1); }

a[href^='/'][href*='-dr90']::after { -webkit-transform: rotate(90deg) scaleX(1); }

a[href^='/'][href*='-dr105']::after { -webkit-transform: rotate(105deg) scaleX(1); }

a[href^='/'][href*='-dr120']::after { -webkit-transform: rotate(120deg) scaleX(1); }

a[href^='/'][href*='-dr135']::after { -webkit-transform: rotate(135deg) scaleX(1); }

a[href^='/'][href*='-dr150']::after { -webkit-transform: rotate(150deg) scaleX(1); }

a[href^='/'][href*='-dr165']::after { -webkit-transform: rotate(165deg) scaleX(1); }

a[href^='/'][href*='-dr180']::after { -webkit-transform: rotate(180deg) scaleX(1); }

a[href^='/'][href*='-dr195']::after { -webkit-transform: rotate(195deg) scaleX(1); }

a[href^='/'][href*='-dr210']::after { -webkit-transform: rotate(210deg) scaleX(1); }

a[href^='/'][href*='-dr225']::after { -webkit-transform: rotate(225deg) scaleX(1); }

a[href^='/'][href*='-dr240']::after { -webkit-transform: rotate(240deg) scaleX(1); }

a[href^='/'][href*='-dr255']::after { -webkit-transform: rotate(255deg) scaleX(1); }

a[href^='/'][href*='-dr270']::after { -webkit-transform: rotate(270deg) scaleX(1); }

a[href^='/'][href*='-dr285']::after { -webkit-transform: rotate(285deg) scaleX(1); }

a[href^='/'][href*='-dr300']::after { -webkit-transform: rotate(300deg) scaleX(1); }

a[href^='/'][href*='-dr315']::after { -webkit-transform: rotate(315deg) scaleX(1); }

a[href^='/'][href*='-dr330']::after { -webkit-transform: rotate(330deg) scaleX(1); }

a[href^='/'][href*='-dr345']::after { -webkit-transform: rotate(345deg) scaleX(1); }

a[href^='/'][href*='-dfr15']::after { -webkit-transform: rotate(15deg) scaleX(-1); }

a[href^='/'][href*='-dfr30']::after { -webkit-transform: rotate(30deg) scaleX(-1); }

a[href^='/'][href*='-dfr45']::after { -webkit-transform: rotate(45deg) scaleX(-1); }

a[href^='/'][href*='-dfr60']::after { -webkit-transform: rotate(60deg) scaleX(-1); }

a[href^='/'][href*='-dfr75']::after { -webkit-transform: rotate(75deg) scaleX(-1); }

a[href^='/'][href*='-dfr90']::after { -webkit-transform: rotate(90deg) scaleX(-1); }

a[href^='/'][href*='-dfr105']::after { -webkit-transform: rotate(105deg) scaleX(-1); }

a[href^='/'][href*='-dfr120']::after { -webkit-transform: rotate(120deg) scaleX(-1); }

a[href^='/'][href*='-dfr135']::after { -webkit-transform: rotate(135deg) scaleX(-1); }

a[href^='/'][href*='-dfr150']::after { -webkit-transform: rotate(150deg) scaleX(-1); }

a[href^='/'][href*='-dfr165']::after { -webkit-transform: rotate(165deg) scaleX(-1); }

a[href^='/'][href*='-dfr180']::after { -webkit-transform: rotate(180deg) scaleX(-1); }

a[href^='/'][href*='-dfr195']::after { -webkit-transform: rotate(195deg) scaleX(-1); }

a[href^='/'][href*='-dfr210']::after { -webkit-transform: rotate(210deg) scaleX(-1); }

a[href^='/'][href*='-dfr225']::after { -webkit-transform: rotate(225deg) scaleX(-1); }

a[href^='/'][href*='-dfr240']::after { -webkit-transform: rotate(240deg) scaleX(-1); }

a[href^='/'][href*='-dfr255']::after { -webkit-transform: rotate(255deg) scaleX(-1); }

a[href^='/'][href*='-dfr270']::after { -webkit-transform: rotate(270deg) scaleX(-1); }

a[href^='/'][href*='-dfr285']::after { -webkit-transform: rotate(285deg) scaleX(-1); }

a[href^='/'][href*='-dfr300']::after { -webkit-transform: rotate(300deg) scaleX(-1); }

a[href^='/'][href*='-dfr315']::after { -webkit-transform: rotate(315deg) scaleX(-1); }

a[href^='/'][href*='-dfr330']::after { -webkit-transform: rotate(330deg) scaleX(-1); }

a[href^='/'][href*='-dfr345']::after { -webkit-transform: rotate(345deg) scaleX(-1); }

/*position*/
a[href^='/'][href*="-dxn25"]::after { margin-left: -25%; }

a[href^='/'][href*="-dxn20"]::after { margin-left: -20%; }

a[href^='/'][href*="-dxn15"]::after { margin-left: -15%; }

a[href^='/'][href*="-dxn10"]::after { margin-left: -10%; }

a[href^='/'][href*="-dxn5"]::after { margin-left: -5%; }

a[href^='/'][href*="-dx0"]::after { margin-left: 0%; }

a[href^='/'][href*="-dx5"]::after { margin-left: 5%; }

a[href^='/'][href*="-dx10"]::after { margin-left: 10%; }

a[href^='/'][href*="-dx15"]::after { margin-left: 15%; }

a[href^='/'][href*="-dx20"]::after { margin-left: 20%; }

a[href^='/'][href*="-dx21"]::after { margin-left: 25%; }

a[href^='/'][href*="-dx30"]::after { margin-left: 30%; }

a[href^='/'][href*="-dx35"]::after { margin-left: 35%; }

a[href^='/'][href*="-dx40"]::after { margin-left: 40%; }

a[href^='/'][href*="-dx45"]::after { margin-left: 45%; }

a[href^='/'][href*="-dx50"]::after { margin-left: 50%; }

a[href^='/'][href*="-dx55"]::after { margin-left: 55%; }

a[href^='/'][href*="-dx60"]::after { margin-left: 60%; }

a[href^='/'][href*="-dx65"]::after { margin-left: 65%; }

a[href^='/'][href*="-dx70"]::after { margin-left: 70%; }

a[href^='/'][href*="-dx75"]::after { margin-left: 75%; }

a[href^='/'][href*="-dx80"]::after { margin-left: 80%; }

a[href^='/'][href*="-dx85"]::after { margin-left: 85%; }

a[href^='/'][href*="-dx90"]::after { margin-left: 90%; }

a[href^='/'][href*="-dx95"]::after { margin-left: 95%; }

a[href^='/'][href*="-dx100"]::after { margin-left: 100%; }

a[href^='/'][href*="-dyn25"]::after { margin-top: -25%; }

a[href^='/'][href*="-dyn20"]::after { margin-top: -20%; }

a[href^='/'][href*="-dyn15"]::after { margin-top: -15%; }

a[href^='/'][href*="-dyn10"]::after { margin-top: -10%; }

a[href^='/'][href*="-dyn5"]::after { margin-top: -5%; }

a[href^='/'][href*="-dy0"]::after { margin-top: 0%; }

a[href^='/'][href*="-dy5"]::after { margin-top: 5%; }

a[href^='/'][href*="-dy10"]::after { margin-top: 10%; }

a[href^='/'][href*="-dy15"]::after { margin-top: 15%; }

a[href^='/'][href*="-dy20"]::after { margin-top: 20%; }

a[href^='/'][href*="-dy21"]::after { margin-top: 25%; }

a[href^='/'][href*="-dy30"]::after { margin-top: 30%; }

a[href^='/'][href*="-dy35"]::after { margin-top: 35%; }

a[href^='/'][href*="-dy40"]::after { margin-top: 40%; }

a[href^='/'][href*="-dy45"]::after { margin-top: 45%; }

a[href^='/'][href*="-dy50"]::after { margin-top: 50%; }

a[href^='/'][href*="-dy55"]::after { margin-top: 55%; }

a[href^='/'][href*="-dy60"]::after { margin-top: 60%; }

a[href^='/'][href*="-dy65"]::after { margin-top: 65%; }

a[href^='/'][href*="-dy70"]::after { margin-top: 70%; }

a[href^='/'][href*="-dy75"]::after { margin-top: 75%; }

a[href^='/'][href*="-dy80"]::after { margin-top: 80%; }

a[href^='/'][href*="-dy85"]::after { margin-top: 85%; }

a[href^='/'][href*="-dy90"]::after { margin-top: 90%; }

a[href^='/'][href*="-dy95"]::after { margin-top: 95%; }

a[href^='/'][href*="-dy100"]::after { margin-top: 100%; }
