.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(0deg) scaleX(1); image-rendering: -webkit-optimize-contrast; }

.bpflag-45, .bpflag-45.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(45deg) scaleX(1); }

.bpflag-90, .bpflag-90.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(90deg) scaleX(1); image-rendering: -webkit-optimize-contrast; }

.bpflag-135, .bpflag-135.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(135deg) scaleX(1); }

.bpflag-180, .bpflag-180.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(180deg) scaleX(1); image-rendering: -webkit-optimize-contrast; }

.bpflag-225, .bpflag-225.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(225deg) scaleX(1); }

.bpflag-270, .bpflag-270.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(270deg) scaleX(1); image-rendering: -webkit-optimize-contrast; }

.bpflag-315, .bpflag-315.bpflag-r.bpflag-d:hover { -webkit-transform: rotate(315deg) scaleX(1); }

.bpflag-r, .bpflag-d:hover { -webkit-transform: rotate(0deg) scaleX(-1); image-rendering: -webkit-optimize-contrast; }

.bpflag-45.bpflag-r, .bpflag-45.bpflag-d:hover { -webkit-transform: rotate(45deg) scaleX(-1); }

.bpflag-90.bpflag-r, .bpflag-90.bpflag-d:hover { -webkit-transform: rotate(90deg) scaleX(-1); image-rendering: -webkit-optimize-contrast; }

.bpflag-135.bpflag-r, .bpflag-135.bpflag-d:hover { -webkit-transform: rotate(135deg) scaleX(-1); }

.bpflag-180.bpflag-r, .bpflag-180.bpflag-d:hover { -webkit-transform: rotate(180deg) scaleX(-1); image-rendering: -webkit-optimize-contrast; }

.bpflag-225.bpflag-r, .bpflag-225.bpflag-d:hover { -webkit-transform: rotate(225deg) scaleX(-1); }

.bpflag-270.bpflag-r, .bpflag-270.bpflag-d:hover { -webkit-transform: rotate(270deg) scaleX(-1); image-rendering: -webkit-optimize-contrast; }

.bpflag-315.bpflag-r, .bpflag-315.bpflag-d:hover { -webkit-transform: rotate(315deg) scaleX(-1); }
