.bpflag-r.bpflag-d:hover { transform: rotate(0deg) scaleX(1); image-rendering: optimize-contrast; }

.bpflag-r, .bpflag-d:hover { transform: rotate(0deg) scaleX(-1); image-rendering: optimize-contrast; }

/*transform*/
.bpflag-r1, .bpflag-r_excl_1.bpflag-dance:hover { -webkit-transform: rotate(1deg) scaleX(1); -moz-transform: rotate(1deg) scaleX(1); -ms-transform: rotate(1deg) scaleX(1); -o-transform: rotate(1deg) scaleX(1); transform: rotate(1deg) scaleX(1); }

.bpflag-r_excl_1, .bpflag-r1.bpflag-dance:hover { -webkit-transform: rotate(1deg) scaleX(-1); -moz-transform: rotate(1deg) scaleX(-1); -ms-transform: rotate(1deg) scaleX(-1); -o-transform: rotate(1deg) scaleX(-1); transform: rotate(1deg) scaleX(-1); }

/*spin*/
.bpflag-r1.bpflag-spin, .bpflag-r_excl_1.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_1.bpflag-spin, .bpflag-r1.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r2, .bpflag-r_excl_2.bpflag-dance:hover { -webkit-transform: rotate(2deg) scaleX(1); -moz-transform: rotate(2deg) scaleX(1); -ms-transform: rotate(2deg) scaleX(1); -o-transform: rotate(2deg) scaleX(1); transform: rotate(2deg) scaleX(1); }

.bpflag-r_excl_2, .bpflag-r2.bpflag-dance:hover { -webkit-transform: rotate(2deg) scaleX(-1); -moz-transform: rotate(2deg) scaleX(-1); -ms-transform: rotate(2deg) scaleX(-1); -o-transform: rotate(2deg) scaleX(-1); transform: rotate(2deg) scaleX(-1); }

/*spin*/
.bpflag-r2.bpflag-spin, .bpflag-r_excl_2.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_2.bpflag-spin, .bpflag-r2.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r3, .bpflag-r_excl_3.bpflag-dance:hover { -webkit-transform: rotate(3deg) scaleX(1); -moz-transform: rotate(3deg) scaleX(1); -ms-transform: rotate(3deg) scaleX(1); -o-transform: rotate(3deg) scaleX(1); transform: rotate(3deg) scaleX(1); }

.bpflag-r_excl_3, .bpflag-r3.bpflag-dance:hover { -webkit-transform: rotate(3deg) scaleX(-1); -moz-transform: rotate(3deg) scaleX(-1); -ms-transform: rotate(3deg) scaleX(-1); -o-transform: rotate(3deg) scaleX(-1); transform: rotate(3deg) scaleX(-1); }

/*spin*/
.bpflag-r3.bpflag-spin, .bpflag-r_excl_3.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_3.bpflag-spin, .bpflag-r3.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r4, .bpflag-r_excl_4.bpflag-dance:hover { -webkit-transform: rotate(4deg) scaleX(1); -moz-transform: rotate(4deg) scaleX(1); -ms-transform: rotate(4deg) scaleX(1); -o-transform: rotate(4deg) scaleX(1); transform: rotate(4deg) scaleX(1); }

.bpflag-r_excl_4, .bpflag-r4.bpflag-dance:hover { -webkit-transform: rotate(4deg) scaleX(-1); -moz-transform: rotate(4deg) scaleX(-1); -ms-transform: rotate(4deg) scaleX(-1); -o-transform: rotate(4deg) scaleX(-1); transform: rotate(4deg) scaleX(-1); }

/*spin*/
.bpflag-r4.bpflag-spin, .bpflag-r_excl_4.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_4.bpflag-spin, .bpflag-r4.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r5, .bpflag-r_excl_5.bpflag-dance:hover { -webkit-transform: rotate(5deg) scaleX(1); -moz-transform: rotate(5deg) scaleX(1); -ms-transform: rotate(5deg) scaleX(1); -o-transform: rotate(5deg) scaleX(1); transform: rotate(5deg) scaleX(1); }

.bpflag-r_excl_5, .bpflag-r5.bpflag-dance:hover { -webkit-transform: rotate(5deg) scaleX(-1); -moz-transform: rotate(5deg) scaleX(-1); -ms-transform: rotate(5deg) scaleX(-1); -o-transform: rotate(5deg) scaleX(-1); transform: rotate(5deg) scaleX(-1); }

/*spin*/
.bpflag-r5.bpflag-spin, .bpflag-r_excl_5.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_5.bpflag-spin, .bpflag-r5.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r6, .bpflag-r_excl_6.bpflag-dance:hover { -webkit-transform: rotate(6deg) scaleX(1); -moz-transform: rotate(6deg) scaleX(1); -ms-transform: rotate(6deg) scaleX(1); -o-transform: rotate(6deg) scaleX(1); transform: rotate(6deg) scaleX(1); }

.bpflag-r_excl_6, .bpflag-r6.bpflag-dance:hover { -webkit-transform: rotate(6deg) scaleX(-1); -moz-transform: rotate(6deg) scaleX(-1); -ms-transform: rotate(6deg) scaleX(-1); -o-transform: rotate(6deg) scaleX(-1); transform: rotate(6deg) scaleX(-1); }

/*spin*/
.bpflag-r6.bpflag-spin, .bpflag-r_excl_6.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_6.bpflag-spin, .bpflag-r6.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r7, .bpflag-r_excl_7.bpflag-dance:hover { -webkit-transform: rotate(7deg) scaleX(1); -moz-transform: rotate(7deg) scaleX(1); -ms-transform: rotate(7deg) scaleX(1); -o-transform: rotate(7deg) scaleX(1); transform: rotate(7deg) scaleX(1); }

.bpflag-r_excl_7, .bpflag-r7.bpflag-dance:hover { -webkit-transform: rotate(7deg) scaleX(-1); -moz-transform: rotate(7deg) scaleX(-1); -ms-transform: rotate(7deg) scaleX(-1); -o-transform: rotate(7deg) scaleX(-1); transform: rotate(7deg) scaleX(-1); }

/*spin*/
.bpflag-r7.bpflag-spin, .bpflag-r_excl_7.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_7.bpflag-spin, .bpflag-r7.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r8, .bpflag-r_excl_8.bpflag-dance:hover { -webkit-transform: rotate(8deg) scaleX(1); -moz-transform: rotate(8deg) scaleX(1); -ms-transform: rotate(8deg) scaleX(1); -o-transform: rotate(8deg) scaleX(1); transform: rotate(8deg) scaleX(1); }

.bpflag-r_excl_8, .bpflag-r8.bpflag-dance:hover { -webkit-transform: rotate(8deg) scaleX(-1); -moz-transform: rotate(8deg) scaleX(-1); -ms-transform: rotate(8deg) scaleX(-1); -o-transform: rotate(8deg) scaleX(-1); transform: rotate(8deg) scaleX(-1); }

/*spin*/
.bpflag-r8.bpflag-spin, .bpflag-r_excl_8.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_8.bpflag-spin, .bpflag-r8.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r9, .bpflag-r_excl_9.bpflag-dance:hover { -webkit-transform: rotate(9deg) scaleX(1); -moz-transform: rotate(9deg) scaleX(1); -ms-transform: rotate(9deg) scaleX(1); -o-transform: rotate(9deg) scaleX(1); transform: rotate(9deg) scaleX(1); }

.bpflag-r_excl_9, .bpflag-r9.bpflag-dance:hover { -webkit-transform: rotate(9deg) scaleX(-1); -moz-transform: rotate(9deg) scaleX(-1); -ms-transform: rotate(9deg) scaleX(-1); -o-transform: rotate(9deg) scaleX(-1); transform: rotate(9deg) scaleX(-1); }

/*spin*/
.bpflag-r9.bpflag-spin, .bpflag-r_excl_9.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_9.bpflag-spin, .bpflag-r9.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r10, .bpflag-r_excl_10.bpflag-dance:hover { -webkit-transform: rotate(10deg) scaleX(1); -moz-transform: rotate(10deg) scaleX(1); -ms-transform: rotate(10deg) scaleX(1); -o-transform: rotate(10deg) scaleX(1); transform: rotate(10deg) scaleX(1); }

.bpflag-r_excl_10, .bpflag-r10.bpflag-dance:hover { -webkit-transform: rotate(10deg) scaleX(-1); -moz-transform: rotate(10deg) scaleX(-1); -ms-transform: rotate(10deg) scaleX(-1); -o-transform: rotate(10deg) scaleX(-1); transform: rotate(10deg) scaleX(-1); }

/*spin*/
.bpflag-r10.bpflag-spin, .bpflag-r_excl_10.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_10.bpflag-spin, .bpflag-r10.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r11, .bpflag-r_excl_11.bpflag-dance:hover { -webkit-transform: rotate(11deg) scaleX(1); -moz-transform: rotate(11deg) scaleX(1); -ms-transform: rotate(11deg) scaleX(1); -o-transform: rotate(11deg) scaleX(1); transform: rotate(11deg) scaleX(1); }

.bpflag-r_excl_11, .bpflag-r11.bpflag-dance:hover { -webkit-transform: rotate(11deg) scaleX(-1); -moz-transform: rotate(11deg) scaleX(-1); -ms-transform: rotate(11deg) scaleX(-1); -o-transform: rotate(11deg) scaleX(-1); transform: rotate(11deg) scaleX(-1); }

/*spin*/
.bpflag-r11.bpflag-spin, .bpflag-r_excl_11.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_11.bpflag-spin, .bpflag-r11.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r12, .bpflag-r_excl_12.bpflag-dance:hover { -webkit-transform: rotate(12deg) scaleX(1); -moz-transform: rotate(12deg) scaleX(1); -ms-transform: rotate(12deg) scaleX(1); -o-transform: rotate(12deg) scaleX(1); transform: rotate(12deg) scaleX(1); }

.bpflag-r_excl_12, .bpflag-r12.bpflag-dance:hover { -webkit-transform: rotate(12deg) scaleX(-1); -moz-transform: rotate(12deg) scaleX(-1); -ms-transform: rotate(12deg) scaleX(-1); -o-transform: rotate(12deg) scaleX(-1); transform: rotate(12deg) scaleX(-1); }

/*spin*/
.bpflag-r12.bpflag-spin, .bpflag-r_excl_12.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_12.bpflag-spin, .bpflag-r12.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/*transform*/
.bpflag-r13, .bpflag-r_excl_13.bpflag-dance:hover { -webkit-transform: rotate(13deg) scaleX(1); -moz-transform: rotate(13deg) scaleX(1); -ms-transform: rotate(13deg) scaleX(1); -o-transform: rotate(13deg) scaleX(1); transform: rotate(13deg) scaleX(1); }

.bpflag-r_excl_13, .bpflag-r13.bpflag-dance:hover { -webkit-transform: rotate(13deg) scaleX(-1); -moz-transform: rotate(13deg) scaleX(-1); -ms-transform: rotate(13deg) scaleX(-1); -o-transform: rotate(13deg) scaleX(-1); transform: rotate(13deg) scaleX(-1); }

/*spin*/
.bpflag-r13.bpflag-spin, .bpflag-r_excl_13.bpflag-dance.bpflag-spin:hover { animation: "spin-deg" 2s infinite linear; }

.bpflag-r_excl_13.bpflag-spin, .bpflag-r13.bpflag-dance.bpflag-spin:hover { animation: "_excl_spin-deg" 2s infinite linear; }

/* @mixin table-scaffolding { th { text-align: center; font-weight: bold; } td, th { padding: 2px; } }
 @mixin left($dist) { float: left; margin-left: $dist; }
 #data { @include left(10px); @include table-scaffolding; }*/
