/*$vendor: webkit;

@mixin main(($deg)) {
($deg), ($deg).bpflag-r.bpflag-d:hover {-$vendor-transform:rotate(($deg)deg)scaleX(1)}
($deg).bpflag-r, ($deg).bpflag-d:hover {-$vendor-transform:rotate(($deg)deg)scaleX(-1)}
}


.bpflag-r.bpflag-d:hover {-$vendor-transform:rotate(0deg)scaleX(1);image-rendering:-$vendor-optimize-contrast}
.bpflag-r, .bpflag-d:hover {-$vendor-transform:rotate(0deg)scaleX(-1);image-rendering:-$vendor-optimize-contrast}

.bpflag-{

$dance: [href*='-dance'];

@mixin main($deg){
a[href^='/'][href*='-r($deg)'],a:hover[href^='/'][href*='-r($deg)!']$dance{-webkit-transform:rotate(($deg)deg) scaleX(1)}
}

@include main(1);
@include main(2);
@include main(3);
@include main(4);
@include main(5);
@include main(6);
@include main(7);
@include main(8);
@include main(9);
@include main(10);
@include main(11);
@include main(12);
@include main(13);
*/
#data { float: left; margin-left: 10px; }
#data th { text-align: center; font-weight: bold; }
#data td, #data th { padding: 2px; }
