a[href|="/applepussy"],a[href|="/trixiepussy"],a[href|="/flutterpussy"],a[href|="/rainbowpussy"],a[href|="/sparklepussy"],a[href|="/cheeripussy"],a[href|="/raripussy"],a[href|="/derpypussy"],a[href|="/pinkiepussy"]{
    background-image:url(http://b.thumbs.redditmedia.com/GUrfNHIaMEoN29eC.jpg);
    background-repeat: no-repeat;
    width:300px;height:360px;
    clear:none;
    display:block;
    float:left
    }
a[href|="/applepussy"]{background-position:0 0}
a[href|="/trixiepussy"]{background-position:-300px 0}
a[href|="/flutterpussy"]{background-position:-600px 0}
a[href|="/rainbowpussy"]{background-position:0 -360px}
a[href|="/sparklepussy"]{background-position:-300px -360px}
a[href|="/cheeripussy"]{background-position:-600px -360px}
a[href|="/raripussy"]{background-position:0 -720px}
a[href|="/derpypussy"]{background-position:-300px -720px}
a[href|="/pinkiepussy"]{background-position:-600px -720px}