@import 'bourbon/bourbon';

@mixin main($deg) {
/*transform*/
.bpflag-r#{$deg}, .bpflag-r_excl_#{$deg}.bpflag-dance:hover {@include transform(rotate(#{$deg}deg)scaleX(1))}
.bpflag-r_excl_#{$deg}, .bpflag-r#{$deg}.bpflag-dance:hover {@include transform(rotate(#{$deg}deg)scaleX(-1))}

/*spin*/
.bpflag-r#{$deg}.bpflag-spin, .bpflag-r_excl_#{$deg}.bpflag-dance.bpflag-spin:hover {animation:'spin-#{deg}' 2s infinite linear}
.bpflag-r_excl_#{$deg}.bpflag-spin, .bpflag-r#{$deg}.bpflag-dance.bpflag-spin:hover {animation:'_excl_spin-#{deg}' 2s infinite linear}

}


.bpflag-r.bpflag-d:hover {transform:rotate(0deg)scaleX(1);image-rendering:optimize-contrast}
.bpflag-r, .bpflag-d:hover {transform:rotate(0deg)scaleX(-1);image-rendering:optimize-contrast}



@include main(1);
@include main(2);
@include main(3);
@include main(4);
@include main(5);
@include main(6);
@include main(7);
@include main(8);
@include main(9);
@include main(10);
@include main(11);
@include main(12);
@include main(13);


/*
    @mixin table-scaffolding {
      th {
        text-align: center;
        font-weight: bold;
      }
      td, th { padding: 2px; }
    }

    @mixin left($dist) {
      float: left;
      margin-left: $dist;
    }

    #data {
      @include left(10px);
      @include table-scaffolding;
    }*/